  </div><!-- /.l-content-->

  <!-- .l-footer -->
  <footer class="l-footer">
  </footer><!-- /.l-footer -->

</div><!-- /.l-wrapper-->

<!-- script -->
<script src="<%- $site_path %>assets/js/vendor/jquery.js"></script>
<script src="<%- $site_path %>assets/js/vendor/jquery.easing.min.js"></script>
<script src="<%- $site_path %>assets/js/script.min.js"></script>
</body>
</html>