/* -------------
  colors
------------- */

// 使う色の指定を書く
// 下のは適宜変更・削除してください

$c_wt: #fff;

$c_000: #000;
$c_black: #222;
$c_black70: rgba(0,0,0,0.7);
$c_black65: rgba(0,0,0,0.65);

$c_blue: #7087c4;
$c_blue-light: #cfd9f4;
$c_blue-light2: #a2b1da;

$c_yellow: #f0ff00;
$c_bg: #fff;
$c_bg-light: #fffdf6;

$c_gray : #dddad1;


/* -------------
  width
------------- */
// 使い回す幅指定があれば書く
// $w_gnavi: 140px;

/* -------------
  transition-duration
------------- */
//cssアニメーションのスピード、一定にしたい箇所で使う
$tr_speed: 0.3s;


// その他、サイト内で使用する変数を適宜項目追加してください。

